{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
		
	<h2 class="sub-header">Event Categories</h2>
	
	{% if eventcategories|length > 0 %}
		<div class="form-group">
			<label class="control-label" for="search_field">Search for event category</label>
			<div class="input-group">
				<input autocomplete="off" type="text" name="search_field" value="" title="Enter a search." id="search_field" maxlength="150" placeholder="Search..." class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button" id="clear_search">Clear</button>
				</span>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Icon</th>
						<th>Colour</th>
					</tr>
				</thead>
				{% for eventcategory in eventcategories %}
					<tbody class="eventcategory-container">
						<tr class="eventcategory-details">
							<td>{{ eventcategory.name }}</td>
							<td>{{ eventcategory.description }}</td>
							<td><i class="fa fa-{{ eventcategory.icon }}" aria-hidden="true"></i></td>
							<td><div class="colourIndicator" style="background:{{ eventcategory.colour }};"></div> {{ eventcategory.colour }}</td>
						</tr>
						<tr class="extra-info">
							<td colspan=6>
								{% buttons %}
									<a href="{% url 'eventcategory-update' eventcategory.pk %}" class="btn btn-info">
										{% bootstrap_icon "pencil" %} Edit
									</a>
									{% if eventcategory.is_default %}
									<a href="{% url 'eventcategory-reset' eventcategory.pk %}" class="btn btn-warning">
										{% bootstrap_icon "repeat" %} Reset
									</a>
									{% else %}
									<a href="{% url 'eventcategory-delete' eventcategory.pk %}" class="btn btn-danger">
										{% bootstrap_icon "remove" %} Delete
									</a>
									{% endif %}
								{% endbuttons %}
							</td>
						</tr>
					</tbody>
				{% endfor %}
			</table>
		</div>
	{% else %}
	<p>No event categories exist yet. This is usually indicative of a fatal error somewhere, and will break most notifications.</p>
	{% endif %}
	{% buttons %}<a href="{% url 'add-eventcategory' %}" class="btn btn-primary" style="margin:auto;display:block;">{% bootstrap_icon "plus" %} Add event category</a>{% endbuttons %}
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
	initialize_search("#search_field", ".eventcategory-container", ".eventcategory-details", "#clear_search");
});
</script>
{% endblock %}