{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block title %} - Delete EmailTemplates{% endblock %}
{% block admin_content %}

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ object }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{# Display a form #}
	<section class="container" style="position:absolute;left:0px;">
		<form action="{{ request.path }}" method="post" class="form">
			{% csrf_token %}
			<p>Are you sure you wish to delete this email template?</p>
			{% buttons %}
			<button type="submit" class="btn btn-danger">
				{% bootstrap_icon "remove-circle" %} Delete
			</button>
			<a href="{% url 'notifications' %}" class="btn btn-primary">
				{% bootstrap_icon "chevron-left" %} Cancel
			</a>
			{% endbuttons %}
		</form>
	</section>

{% endblock %}
{% block scripts %}
{% endblock %}
{# Read the documentation for more information #}