{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - User page for {{ request.user }}{% endblock %}
{% block content %}
<section class="container-fluid">
	<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>
		<div class="panel panel-default user-profile">
			<div class="panel-heading">
			<h3 class="panel-title">Profile for {{ request.user }}</h3>
			</div>
			<form action="{{ request.path }}" method="post" class="form">
			{% csrf_token %}
			<div class="panel-body">
				{% bootstrap_form form %}
				<div class="form-group">
					<label class="control-label" for="organization">Organization</label>
					<input disabled type="text" name="organization" class="form-control" placeholder="Your organization" title="" id="user_organization" value="{{request.user.userdata.organization}}">
					<p class="help-block">Please contact an adminstrator if you need to change your organization.</p>
				</div>
			</div>
			<div class="panel-footer">
				<div class="form-group">
					<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save Changes</button> <a href="{% url 'user-export' %}" class="btn btn-info"><i class="glyphicon glyphicon-save"></i> Export Data</a>
					{% if request.user.userdata.delete_request_active == False %}
					<a href="{% url 'request-delete-user' %}" class="btn btn-danger"> Send request to delete account </a>
					{% else %}
					<a href="{% url 'cancel-request-delete-user' %}" class="btn btn-warning"> Cancel request to delete account </a>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script></script>
{% endblock %}
