{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - Finished Cruises{% endblock %}
{% block content %}
	<section class="container-fluid">
		<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>
		<h2 class="sub-header">Finished Cruises</h2>
		{% if cruises|length > 0 %}
		{% for cruise in cruises %}
		<div class="panel panel-default user-cruise">
			<div class="panel-heading">
				<h3 class="panel-title">{{ cruise }}</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
							<li class="list-group-item text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finished</li>
							<li class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ cruise.get_sum_of_invoices }} NOK</li>
							{% for cruise_day in cruise.get_cruise_days %}
							<li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cruise day {{forloop.counter}}: {{cruise_day.event.start_time|date:"Y F jS"}}</li>
							{% empty %}
							<li class="list-group-item">Cruise has no cruise days</li>
							{% endfor %}
							<a class="list-group-item list-group-item-info" target="_BLANK" href="{% url 'cruise-pdf-view' cruise.pk %}">Export as PDF</a>
							{% if cruise.cruise_start and cruise.cruise_end %}
							{{ cruise.get_cal_button|safe }}
							{% endif %}
						</ul>
					</div>
					<div class="col-sm-7">
						{% if cruise.description %}
						<h4>Cruise description</h4>
						<p>{{ cruise.description }}</p>
						{% endif %}
						<h4>Cruise summary</h4>
						<p>{{ cruise.get_cruise_description_string }}</p>
					</div>
					<div class="col-sm-2">
						<a href="/cruises/{{cruise.id}}/invoices/" class="btn btn-info">View Invoices</a>
						<a href="/cruises/{{cruise.id}}/view/" class="btn btn-info">View</a>
						{% if cruise.is_editable %}
						<a href="/cruises/{{cruise.id}}/edit/" class="btn btn-primary">Edit</a>
						{% else %}
						<button type="button" class="btn btn-primary btn-disabled" disabled>Edit</button>
						{% endif %}
						{% if cruise.is_cancellable %}
						<a href="/cruises/{{cruise.id}}/unsubmit/" class="btn btn-warning">Cancel</a>
						{% else %}
						<button type="button" class="btn btn-warning btn-disabled" disabled>Cancel</button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<p>You have no finished cruises.</p>
		{% endif %}

		<h2 class="sub-header">Cancelled cruises</h2>
		{% if cancelled_cruises|length > 0 %}
		{% for cruise in cancelled_cruises %}
		<div class="panel panel-default user-cruise">
			<div class="panel-heading">
				<h3 class="panel-title">{{ cruise }}</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
							<li class="list-group-item text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finished</li>
							<li class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ cruise.get_sum_of_invoices }} NOK</li>
							{% for cruise_day in cruise.get_cruise_days %}
							<li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cruise day {{forloop.counter}}: {{cruise_day.event.start_time|date:"Y F jS"}}</li>
							{% empty %}
							<li class="list-group-item">Cruise has no cruise days</li>
							{% endfor %}
							<a class="list-group-item list-group-item-info" target="_BLANK" href="{% url 'cruise-pdf-view' cruise.pk %}">Export as PDF</a>
							{% if cruise.cruise_start and cruise.cruise_end %}
							{{ cruise.get_cal_button|safe }}
							{% endif %}
						</ul>
					</div>
					<div class="col-sm-7">
						{% if cruise.description %}
						<h4>Cruise description</h4>
						<p>{{ cruise.description }}</p>
						{% endif %}
						<h4>Cruise summary</h4>
						<p>{{ cruise.get_cruise_description_string }}</p>
					</div>
					<div class="col-sm-2">
						<a href="/cruises/{{cruise.id}}/invoices/" class="btn btn-info">View Invoices</a>
						<a href="/cruises/{{cruise.id}}/view/" class="btn btn-info">View</a>
						{% if cruise.is_editable %}
						<a href="/cruises/{{cruise.id}}/edit/" class="btn btn-primary">Edit</a>
						{% else %}
						<button type="button" class="btn btn-primary btn-disabled" disabled>Edit</button>
						{% endif %}
						{% if cruise.is_cancellable %}
						<a href="/cruises/{{cruise.id}}/unsubmit/" class="btn btn-warning">Cancel</a>
						{% else %}
						<button type="button" class="btn btn-warning btn-disabled" disabled>Cancel</button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<p>You have no cancelled cruises.</p>
		{% endif %}
</section>
{% endblock %}
{% block scripts %}
<script></script>
{% endblock %}
