{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
<h1 class="page-header">Overview</h1>

{% if upcoming_cruises|length > 0 %}
	<h2 class="sub-header">Upcoming cruises</h2>
	
	{% for cruise in upcoming_cruises %}
	<div class="panel {% if cruise.is_missing_information %}panel-warning{% else %}panel-default{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">{{ cruise }}</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Participants</th>
							<th>Equipment</th>
							<th>Needs food</th>
							<th>Overnight stays</th>
							<th>Invoice Status</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>{{ cruise.number_of_participants }}</td>
								<td>{{ cruise.equipment_description }}</td>
								{% if cruise.has_food %}
									<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.has_overnight_stays %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.invoice_status %}
									<td>Sent</td>
								{% else %}
									<td>Not sent</td>
								{% endif %}
							</tr>
					</tbody>
				</table>
			</div>
			<h4>Cruise summary</h4>
			<p>Contact email: {{cruise.get_contact_emails}}</p>
			
			<p>{{cruise.get_cruise_description_string}}</p>
			{% if cruise.is_missing_information %}
			<h4>Missing information</h4>
			<p class="help-block">These items are missing or incorrect for this cruise.</p>
			<ul>
				{% for missing_information in cruise.get_missing_information_list %}
				<li>{{ missing_information }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% buttons %}
				<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-info">
					{% bootstrap_icon "eye-open" %} View
				</a>
				<a href="{% url 'cruise-unapprove-information' cruise.pk %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Unapprove cruise information
				</a>
				<a href="{% url 'cruise-unapprove' cruise.pk %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Unapprove cruise
				</a>
			{% endbuttons %}
		</div>
	</div>
	{% endfor %}
{% endif %}

{% if cruises_need_attention|length > 0 %}
	<h2 class="sub-header">Cruises that need attention</h2>
	<h3 class="sub-sub-header">Approved cruises</h3>
	{% for cruise in cruises_need_attention %}
	<div class="panel {% if cruise.is_missing_information %}panel-warning{% else %}panel-default{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">{{ cruise }}</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Participants</th>
							<th>Equipment</th>
							<th>Needs food</th>
							<th>Overnight stays</th>
							<th>Invoice Status</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>{{ cruise.number_of_participants }}</td>
								<td>{{ cruise.equipment_description }}</td>
								{% if cruise.has_food %}
									<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.has_overnight_stays %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.invoice_status %}
									<td>Sent</td>
								{% else %}
									<td>Not sent</td>
								{% endif %}
							</tr>
					</tbody>
				</table>
			</div>
			<h4>Cruise summary</h4>
			<p>Contact email: {{cruise.get_contact_emails}}</p>
			
			<p>{{cruise.get_cruise_description_string}}</p>
			{% if cruise.is_missing_information %}
			<h4>Missing information</h4>
			<p class="help-block">These items are missing or incorrect for this cruise.</p>
			<ul>
				{% for missing_information in cruise.get_missing_information_list %}
				<li>{{ missing_information }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% buttons %}
				<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-info">
					{% bootstrap_icon "eye-open" %} View
				</a>
				<a href="{% url 'cruise-approve-information' cruise.pk %}" class="btn btn-primary">
					{% bootstrap_icon "ok" %} Approve cruise information
				</a>
				<a href="{% url 'cruise-unapprove' cruise.pk %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Unapprove cruise
				</a>
			{% endbuttons %}
		</div>
	</div>
	{% endfor %}
{% endif %}

{% if unapproved_cruises|length > 0 %}
	<h3 class="sub-sub-header">Unapproved cruises</h3>
	{% for cruise in unapproved_cruises %}
	<div class="panel {% if cruise.is_missing_information %}panel-warning{% else %}panel-default{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">{{ cruise }} {% if cruise.overlaps_with_unapproved_cruises %} <label class="label label-danger cruise-warning-label">Overlap</label> {% endif %}</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Participants</th>
							<th>Equipment</th>
							<th>Needs food</th>
							<th>Overnight stays</th>
							<th>Invoice Status</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>{{ cruise.number_of_participants }}</td>
								<td>{{ cruise.equipment_description }}</td>
								{% if cruise.has_food %}
									<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.has_overnight_stays %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.invoice_status %}
									<td>Sent</td>
								{% else %}
									<td>Not sent</td>
								{% endif %}
							</tr>
					</tbody>
				</table>
			</div>
			<h4>Cruise summary</h4>
			<p>Contact email: {{cruise.get_contact_emails}}</p>
			
			<p>{{cruise.get_cruise_description_string}}</p>
			{% if cruise.is_missing_information %}
			<h4>Missing information</h4>
			<p class="help-block">These items are missing or incorrect for this cruise.</p>
			<ul>
				{% for missing_information in cruise.get_missing_information_list %}
				<li>{{ missing_information }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% buttons %}
				<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-info">
					{% bootstrap_icon "eye-open" %} View
				</a>
				<a href="{% url 'cruise-approve' cruise.pk %}" class="btn btn-primary">
					{% bootstrap_icon "ok" %} Approve cruise
				</a>
				<a href="{% url 'cruise-unsubmit' cruise.pk %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Reject cruise
				</a>
			{% endbuttons %}
		</div>
	</div>
	{% endfor %}
{% endif %}

{% if users_not_verified|length > 0 %}
	<h2 class="sub-header">Users that need attention</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Organization</th>
					<th>E-mail address</th>
					<th>Phone number</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users_not_verified %}
					<tr>
						<td>{{ user.user.username }}</td>
						<td>{{ user.user.get_full_name }}</td>
						<td>{{ user.organization }} {% if user.organization.is_NTNU %}(NTNU){% endif %}</td>
						<td>{{ user.user.email }}</td>
						<td>{{ user.phone_number }}</td>
					</tr>
					<tr class="extra-info">
						<td colspan=6>
							{% buttons %}
								<div class="btn-group">
									<button disabled class="btn btn-default btn-label">
										{% bootstrap_icon "pencil" %} Set as...
									</button>
									<a href="{% url 'user-set-internal' user.user.pk %}" class="btn btn-info">
										Internal user
									</a>
									<a href="{% url 'user-set-external' user.user.pk %}" class="btn btn-info">
										External user
									</a>
									<a href="{% url 'user-set-admin' user.user.pk %}" class="btn btn-warning">
										Administrator
									</a>
								</div>
								<a href="{% url 'edit-userdata' user.user.pk %}" class="btn btn-warning">
									{% bootstrap_icon "pencil" %} Edit
								</a>
								<a href="{% url 'user-delete' user.user.pk %}" class="btn btn-danger">
									{% bootstrap_icon "remove" %} Delete
								</a>
							{% endbuttons %}
						</td>
					</tr>
				{% endfor %}
		</tbody>
		</table>
	</div>
{% endif %}

{% endblock %}