{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
	<h2 class="sub-header">All approved cruises</h2>
	{% if cruises|length > 0 %}
		<div class="form-group">
			<label class="control-label" for="search_field">Search for cruise</label>
			<div class="input-group">
				<input autocomplete="off" type="text" name="username" value="" title="Enter a search." id="search_field" maxlength="150" placeholder="Search..." class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-info" type="button" id="clear_search">Clear</button>
				</span>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Cruise</th>
						<th>Participants</th>
						<th>Equipment</th>
						<th>Needs food</th>
						<th>Overnight stays</th>
						<th>Invoice Status</th>
					</tr>
				</thead>
				{% for cruise in cruises %}
					<tbody class="cruise-container">
						<tr class="cruise-details">
							<td>{{ cruise }}</td>
							<td>{{ cruise.number_of_participants }}</td>
							<td>{{ cruise.equipment_description }}</td>
							{% if cruise.has_food %}
								<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
							{% else %}
								<td>No</td>
							{% endif %}
							{% if cruise.overnight %}
								<td>Yes</td>
							{% else %}
								<td>No</td>
							{% endif %}
							{% if cruise.invoice_status %}
								<td>Sent</td>
							{% else %}
								<td>Not sent</td>
							{% endif %}
						</tr>
						<tr class="extra-info">
							<td colspan=6>
							{% buttons %}
								<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-primary">
									{% bootstrap_icon "eye-open" %} View
								</a>
								<a href="{% url 'cruise-invoices' cruise.pk %}" class="btn btn-info">
									{% bootstrap_icon "list-alt" %} View Invoices
								</a>
							{% endbuttons %}
							</td>
						</tr>
					</tbody>
				{% endfor %}
			</table>
		</div>
	{% else %}
	<p>There are no approved cruises yet.</p>
	{% endif %}

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
	initialize_search("#search_field", ".cruise-container", ".cruise-details", "#clear_search");
});
</script>
{% endblock %}