{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}

	<h2 class="sub-header">{% if seasons|length > 0 %} Seasons {% else %} No seasons have been made yet {% endif %}</h2>
	
	{% if seasons|length > 0 %}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Start date</th>
						<th>End date</th>
						<th>Available for </br>internal orders</th>
						<th>Available for </br>external orders</th>
						<th></th>
						<th>Short <br>education</th>
						<th>Short <br>research</th>
						<th>Short <br>BOA</th>
						<th>Short <br>external</th>
						<th>Long <br>education</th>
						<th>Long <br>research</th>
						<th>Long <br>BOA</th>
						<th>Long <br>external</th>
					</tr>
				</thead>
				<tbody>
					{% for season in seasons %}
						<tr>
							<td>{{ season.name }}</td>
							<td>{{ season.season_event.start_time|date:'jS N y, g:i A' }}</td>
							<td>{{ season.season_event.end_time|date:'jS N y, g:i A' }}</td>
							<td>{{ season.internal_order_event.start_time|date:'jS N y, g:i A' }}</td>
							<td>{{ season.external_order_event.start_time|date:'jS N y, g:i A' }}</td>
							<td style="background-color:#ffffff"><b>Prices:</b></td>
							<td>{{ season.short_education_price|floatformat}},-</td>
							<td>{{ season.short_research_price|floatformat }},-</td>
							<td>{{ season.short_boa_price|floatformat }},-</td>
							<td>{{ season.short_external_price|floatformat }},-</td>
							<td>{{ season.long_education_price|floatformat }},-</td>
							<td>{{ season.long_research_price|floatformat }},-</td>
							<td>{{ season.long_boa_price|floatformat }},-</td>
							<td>{{ season.long_external_price|floatformat }},-</td>
						</tr>
						<tr>
							<td colspan=6>
								{% buttons %}
									<a href="{% url 'season-update' season.pk %}" class="btn btn-info">
										{% bootstrap_icon "pencil" %} Edit
									</a>
									<a href="{% url 'season-delete' season.pk %}" class="btn btn-danger">
										{% bootstrap_icon "remove" %} Delete
									</a>
								{% endbuttons %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	{% buttons %}<a href="{% url 'add-season' %}" class="btn btn-primary" style="margin:auto;display:block;">{% bootstrap_icon "plus" %} Add season</a>{% endbuttons %}

{% endblock %}