{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}

{# Display a form #}
<section class="container">
	{% bootstrap_messages %}
	<div class="invoices-container">
	{% if invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		<h3 class="sub-sub-header">Finished cruises with unsent invoices</h3>
		{% for invoice in invoices %}
		<div class="panel {% if not invoice.is_sent %}panel-warning{% else %}panel-default{% endif %}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ invoice }}</h3>
			</div>
			<div class="panel-body">
				<h4>Sent</h4>
				{% if invoice.is_sent %}
				<p>Yes</p>
				{% else %}
				<p>No</p>
				{% endif %}
				
				{% if invoice.business_reg_num %}
				<h4>Business number</h4>
				<p>{{ invoice.business_reg_num }}</p>
				{% endif %}
				
				{% if invoice.billing_address %}
				<h4>Billing address</h4>
				<p>{{ invoice.billing_address }}</p>
				{% endif %}
				
				{% if invoice.accounting_place %}
				<h4>Accounting place</h4>
				<p>{{ invoice.accounting_place }}</p>
				{% endif %}
				
				{% if invoice.project_number %}
				<h4>Project number</h4>
				<p>{{ invoice.project_number }}</p>
				{% endif %}

				{% if invoice.project_leader %}
				<h4>Project leader</h4>
				<p>{{ invoice.project_leader }}</p>
				{% endif %}
				
				{% if invoice.course_code %}
				<h4>Course code</h4>
				<p>{{ invoice.course_code }}</p>
				{% endif %}
				
				{% if invoice.course_lecturer %}
				<h4>Course lecturer</h4>
				<p>{{ invoice.course_lecturer }}</p>
				{% endif %}
				
				{% if invoice.reference %}
				<h4>Reference</h4>
				<p>{{ invoice.reference }}</p>
				{% endif %}
				
				{% if invoice.contact_email %}
				<h4>Contact email</h4>
				<p>{{ invoice.contact_email }}</p>
				{% endif %}

				<h4>Invoice items</h4>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Description</th>
								<th>Price</th>
								{% if request.user.is_superuser %}
								<th>Actions</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for item in invoice.get_list_prices %}
								<tr>
									<td>{{ item }}</td>
									<td>{{ item.price }} NOK</td>
									{% if request.user.is_superuser %}
									<td>
										{% if not item.is_generated %}
										<a href="{% url 'edit-invoice-item' item.pk %}" class="btn btn-primary">
											{% bootstrap_icon "pencil" %} Edit
										</a>
										<a href="{% url 'remove-invoice-item' item.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Remove
										</a>
										{% else %}
										None for generated items
										{% endif %}
									</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% if request.user.is_superuser %}
				{% buttons %}
					<a href="{% url 'add-invoice-item' invoice.pk %}" class="btn btn-success">
						{% bootstrap_icon "plus" %} Add item
					</a>
				{% endbuttons %}
				{% endif %}
				
				<h4>Sum</h4>
				<p>{{ invoice.get_sum }} NOK</p>
			</div>
			<div class="panel-footer">
				{% buttons %}
					<a href="{% url 'cruise-view' invoice.pk %}" disabled class="disabled btn btn-info">
						{% bootstrap_icon "download-alt" %} Export to PDF
					</a>
					{% if request.user.is_superuser %}
					{% if invoice.is_sent %}
					<a href="{% url 'invoice-mark-as-unsent' invoice.pk %}" class="btn btn-danger">
						{% bootstrap_icon "remove" %} Mark as unsent
					</a>
					{% else %}
					<a href="{% url 'invoice-mark-as-sent' invoice.pk %}" class="btn btn-primary">
						{% bootstrap_icon "ok" %} Mark as sent
					</a>
					{% endif %}
					{% endif %}
				{% endbuttons %}
			</div>
		</div>
		{% endfor %}
	{% else %}
	<p>There are currently no unsent finalized invoices.</p>
	{% endif %}
	</div>
	<div class="submitButtonsContainer">
		<div class="submitButtonsContainer-scroller">
			<div class="container">
				{% buttons %}
				<a href="{% url 'admin' %}" class="btn btn-primary">
					{% bootstrap_icon "chevron-left" %} Back
				</a>
				{% endbuttons %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function() {
		$(".submitButtonsContainer").outerHeight($(".submitButtonsContainer-scroller").outerHeight());

		$(window).scroll(function(){
			if($(window).scrollTop()+$(window).height() > ($(".submitButtonsContainer").offset().top + $(".submitButtonsContainer").outerHeight())){
			   $(".submitButtonsContainer-scroller").removeClass("scrolling");
			} else {
			   $(".submitButtonsContainer-scroller").addClass("scrolling");
			}
		});
	});
</script>
{% endblock %}