{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}

{# Display a form #}
	<div class="invoices-container">
	<h3 class="sub-sub-header">Finished cruises with unsent invoices</h3>
	{% if unsent_invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in unsent_invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>There are currently no unsent finalized invoices.</p>
	{% endif %}
	</div>
	<div class="invoices-container">
	<h3 class="sub-sub-header">Sent invoices</h3>
	{% if sent_invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in sent_invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>There are currently no sent finalized invoices.</p>
	{% endif %}
	</div>
{% endblock %}
{% block scripts %}
	{% include 'reserver/invoice_panel_scripts.html' %}
{% endblock %}