{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
	
		<h1 class="page-header">Overview</h1>
  
		{% if upcoming_cruises|length > 0 %}
			<h2 class="sub-header">Upcoming cruises</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Cruise</th>
							<th>Participants</th>
							<th>Equipment</th>
							<th>Needs food</th>
							<th>Overnight stays</th>
							<th>Invoice Status</th>
						</tr>
					</thead>
					<tbody>
						{% for cruise in upcoming_cruises %}
							<tr>
								<td>{{ cruise }}</td>
								<td>{{ cruise.number_of_participants }}</td>
								<td>{{ cruise.equipment_description }}</td>
								{% if cruise.has_food %}
									<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.has_overnight_stays %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.invoice_status %}
									<td>Sent</td>
								{% else %}
									<td>Not sent</td>
								{% endif %}
							</tr>
							<tr class="extra-info">
								<td colspan=6>
									{% buttons %}
										<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-info">
											{% bootstrap_icon "eye-open" %} View
										</a>
										<a href="{% url 'cruise-update' cruise.pk %}" class="btn btn-info">
											{% bootstrap_icon "pencil" %} Edit
										</a>
										<a href="{% url 'cruise-unapprove-information' cruise.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Unapprove cruise information
										</a>
										<a href="{% url 'cruise-unapprove' cruise.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Unapprove cruise
										</a>
									{% endbuttons %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

		{% if cruises_need_attention|length > 0 %}
			<h2 class="sub-header">Cruises that need attention</h2>
			<h3 class="sub-sub-header">Approved cruises</h3>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Cruise</th>
							<th>Participants</th>
							<th>Equipment</th>
							<th>Needs food</th>
							<th>Overnight stays</th>
							<th>Invoice Status</th>
						</tr>
					</thead>
					<tbody>
						{% for cruise in cruises_need_attention %}
							<tr>
								<td>{{  cruise }}</td>
								<td>{{  cruise.number_of_participants }}</td>
								<td>{{  cruise.equipment_description }}</td>
								{% if cruise.has_food %}
									<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.overnight %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.invoice_status %}
									<td>Sent</td>
								{% else %}
									<td>Not sent</td>
								{% endif %}
							</tr>
							<tr class="extra-info">
								<td colspan=6>
									{% buttons %}
										<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-info">
											{% bootstrap_icon "eye-open" %} View
										</a>
										<a href="{% url 'cruise-update' cruise.pk %}" class="btn btn-info">
											{% bootstrap_icon "pencil" %} Edit
										</a>
										<a href="{% url 'cruise-approve-information' cruise.pk %}" class="btn btn-primary">
											{% bootstrap_icon "ok" %} Approve cruise information
										</a>
										<a href="{% url 'cruise-unapprove' cruise.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Unapprove cruise
										</a>
									{% endbuttons %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

		{% if unapproved_cruises|length > 0 %}
			<h3 class="sub-sub-header">Unapproved cruises</h3>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Cruise</th>
							<th>Participants</th>
							<th>Equipment</th>
							<th>Needs food</th>
							<th>Overnight stays</th>
							<th>Invoice Status</th>
						</tr>
					</thead>
					<tbody>
						{% for cruise in unapproved_cruises %}
							<tr>
								<td>{{  cruise }}</td>
								<td>{{  cruise.number_of_participants }}</td>
								<td>{{  cruise.equipment_description }}</td>
								{% if cruise.has_food %}
									<td><a href="{% url 'cruise-food' cruise.pk %}">Yes</a></td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.overnight %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
								{% if cruise.invoice_status %}
									<td>Sent</td>
								{% else %}
									<td>Not sent</td>
								{% endif %}
							</tr>
							<tr class="extra-info">
								<td colspan=6>
									{% buttons %}
										<a href="{% url 'cruise-view' cruise.pk %}" class="btn btn-info">
											{% bootstrap_icon "eye-open" %} View
										</a>
										<a href="{% url 'cruise-update' cruise.pk %}" class="btn btn-info">
											{% bootstrap_icon "pencil" %} Edit
										</a>
										<a href="{% url 'cruise-approve' cruise.pk %}" class="btn btn-primary">
											{% bootstrap_icon "ok" %} Approve cruise
										</a>
										<a href="{% url 'cruise-unsubmit' cruise.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Reject cruise
										</a>
									{% endbuttons %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
  
		{% if users_not_verified|length > 0 %}
			<h2 class="sub-header">Users that need attention</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Username</th>
							<th>Name</th>
							<th>E-mail address</th>
							<th>Phone number</th>
							<th>Nationality</th>
							<th>Date of birth</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users_not_verified %}
							<tr>
								<td>{{ user.user.username }}</td>
								<td>{{ user.user.get_full_name }}</td>
								<td>{{ user.user.email }}</td>
								<td>{{ user.phone_number }}</td>
								<td>{{ user.nationality }}</td>
								<td>{{ user.date_of_birth }}</td>
							</tr>
							<tr class="extra-info">
								<td colspan=6>
									{% buttons %}
										<div class="btn-group">
											<a href="#" disabled class="btn btn-default">
												{% bootstrap_icon "eye-open" %} Set as...
											</a>
											<a href="{% url 'user-set-internal' user.pk %}" class="btn btn-info">
												{% bootstrap_icon "eye-open" %} Internal user
											</a>
											<a href="{% url 'user-set-external' user.pk %}" class="btn btn-info">
												{% bootstrap_icon "pencil" %} External user
											</a>
											<a href="{% url 'user-set-admin' user.pk %}" class="btn btn-warning">
												{% bootstrap_icon "pencil" %} Administrator
											</a>
										</div>
										<a href="{% url 'user-delete' user.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Delete user
										</a>
									{% endbuttons %}
								</td>
							</tr>
						{% endfor %}
				</tbody>
				</table>
			</div>
		{% endif %}

	</div>

{% endblock %}