{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
	<div class="container-fluid admin-page">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="{% if request.resolver_match.url_name == 'admin' %}active{% endif %}">
						<a href="{% url 'admin' %}">Overview</a>
					</li>
					<li {% if users_badge == 0 %}class="disabled"{% endif %}>
						<a {% if users_badge != 0 %}href="{% url 'admin' %}#users-section"{% endif %}>
							<span class="badge">{{ users_badge }}</span> Users need attention
						</a>
					</li>
					<li {% if cruises_badge == 0 %}class="disabled"{% endif %}>
						<a {% if cruises_badge != 0 %}href="{% url 'admin' %}#cruises-section"{% endif %}>
							<span class="badge">{{ cruises_badge }}</span> Active cruises
						</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'admin-invoices' %}active{% endif %}">
						<a href="{% url 'admin-invoices' %}"><span class="badge">{{ unfinalized_invoices_badge }}</span> Active invoices</a>
					</li>

					<hr>

					<li class="{% if request.resolver_match.url_name == 'admin-cruises' %}active{% endif %}">
						<a href="{% url 'admin-cruises' %}">Cruise archive</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'invoices-search' or request.resolver_match.url_name == 'invoices-for-period' %}active{% endif %}">
						<a href="{% url 'invoices-search' %}">Invoice archive</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'events' %}active{% endif %}">
						<a href="{% url 'events' %}">Events</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'period-overview' or request.resolver_match.url_name == 'overview-for-period' %}active{% endif %}">
						<a href="{% url 'period-overview' %}">
							<span class="badge">{{ events_badge }}</span> Period summary
						</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'seasons' %}active{% endif %}">
						<a href="{% url 'seasons' %}">Seasons</a>
					</li>

					<hr>

					<li class="{% if request.resolver_match.url_name == 'announcements' %}active{% endif %}">
						<a href="{% url 'announcements' %}">Announcements</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'admin-users' %}active{% endif %}">
						<a href="{% url 'admin-users' %}">Users</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'organizations' %}active{% endif %}">
						<a href="{% url 'organizations' %}">Organizations</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'eventcategories' %}active{% endif %}">
						<a href="{% url 'eventcategories' %}">Event categories</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'notifications' %}active{% endif %}">
						<a href="{% url 'notifications' %}">Email notifications</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
						<a href="{% url 'settings' %}"><i class="fa fa-cogs" aria-hidden="true"></i> System settings</a>
					</li>

					<hr>

					<li class="{% if request.resolver_match.url_name == 'admin-actions' %}active{% endif %}">
						<a href="{% url 'admin-actions' %}">Action logs</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'email_list_view' %}active{% endif %}">
						<a href="{% url 'email_list_view' %}">Email logs</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'view-debug-data' %}active{% endif %}">
						<a href="{% url 'view-debug-data' %}">Debug logs</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'admin-statistics' %}active{% endif %}">
						<a href="{% url 'admin-statistics' %}">Statistics</a>
					</li>
					<li class="{% if request.resolver_match.url_name == 'backup-view' %}active{% endif %}">
						<a target="_BLANK" href="{% url 'backup-view' %}"><i class="fa fa-download" aria-hidden="true"></i> Backup</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{# Display django.contrib.messages as Bootstrap alerts #}
				<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>

				{% block admin_content %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
