{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
		
	<h2 class="sub-header">{% if eventcategories|length > 0 %} Event Categories {% else %} No Event Categories{% endif %}</h2>
	
	{% if eventcategories|length > 0 %}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Colour</th>
					</tr>
				</thead>
				<tbody>
					{% for eventcategory in eventcategories %}
						<tr>
							<td>{{ eventcategory.name }}</td>
							<td>{{ eventcategory.description }}</td>
							<td><div class="colourIndicator" style="background:{{ eventcategory.colour }};"></div> {{ eventcategory.colour }}</td>
						</tr>
						<tr class="extra-info">
							<td colspan=6>
								{% buttons %}
									<a href="{% url 'eventcategory-update' eventcategory.pk %}" class="btn btn-info">
										{% bootstrap_icon "pencil" %} Edit
									</a>
									<a href="{% url 'eventcategory-delete' eventcategory.pk %}" class="btn btn-danger">
										{% bootstrap_icon "remove" %} Delete
									</a>
								{% endbuttons %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	{% buttons %}<a href="{% url 'add-eventcategory' %}" class="btn btn-primary" style="margin:auto;display:block;">{% bootstrap_icon "plus" %} Add event category</a>{% endbuttons %}

{% endblock %}