{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
		
	{% if users|length > 0 %}
		<h2 class="sub-header">All approved users</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Username</th>
						<th>E-mail address</th>
						<th>Role</th>
						<th>Organization</th>
						<th>Phone number</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.user.get_full_name }}</td>
							<td>{{ user.user.username }}</td>
							<td>{{ user.user.email }}</td>
							<td>{{ user.role }}</td>
							<td>{{ user.organization }}</td>
							<td>{{ user.phone_number }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

{% endblock %}