{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}

{% buttons %}<a href="{% url 'add-standalone-invoice' %}" class="btn btn-primary" style="margin:auto;display:block;">{% bootstrap_icon "plus" %} Add standalone invoice</a>{% endbuttons %}

{# Display a form #}
	<div class="invoices-container">
	<h3 class="sub-sub-header">Unfinalized invoices</h3>
	<p class="help-block">These are invoices that have not yet been sent to an invoicer for processing. Marking an invoice as finalized notifies any invoicers that the invoice is ready for sending, and blocks any further editing of the invoice unless it is marked as unfinalized again, which can be done until the invoice is marked as sent.</p>
	{% if unfinalized_invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in unfinalized_invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>There are currently no unfinalized invoices.</p>
	{% endif %}
	</div>
	<div class="invoices-container">
	<h3 class="sub-sub-header">Finalized but unpaid invoices</h3>
	<p class="help-block">These are invoices that have been forwarded to an invoicer for processing, but that have not been marked as paid yet. Once marked as paid they are moved to the <a href="/invoices/history/">archive</a>.</p>
	{% if unpaid_invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in unpaid_invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>There are currently no finalized unpaid invoices.</p>
	{% endif %}
	</div>
{% endblock %}
{% block scripts %}
	{% include 'reserver/invoice_panel_scripts.html' %}
{% endblock %}
