{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
		
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}

		<h2 class="sub-header">{% if seasons|length > 0 %} Seasons {% else %} No seasons have been made yet {% endif %}</h2>
		
		{% if seasons|length > 0 %}
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Start date</th>
							<th>End date</th>
							<th>Available for </br>internal orders</th>
							<th>Available for </br>external orders</th>
							<th></th>
							<th>S. education</th>
							<th>S. research</th>
							<th>S. BOA</th>
							<th>S. external</th>
							<th>L. education</th>
							<th>L. research</th>
							<th>L. BOA</th>
							<th>L. external</th>
						</tr>
					</thead>
					<tbody>
						{% for season in seasons %}
							<tr>
								<td>{{ season.name }}</td>
								<td>{{ season.season_event.start_time|date:'jS N y' }}</td>
								<td>{{ season.season_event.end_time|date:'jS N y' }}</td>
								<td>{{ season.internal_order_event.start_time|date:'jS N y' }}</td>
								<td>{{ season.external_order_event.start_time|date:'jS N y' }}</td>
								<td><b>Prices:</b></td>
								<td>{{ season.short_education_price}},-</td>
								<td>{{ season.short_research_price }},-</td>
								<td>{{ season.short_boa_price }},-</td>
								<td>{{ season.short_external_price }},-</td>
								<td>{{ season.long_education_price }},-</td>
								<td>{{ season.long_research_price }},-</td>
								<td>{{ season.long_boa_price }},-</td>
								<td>{{ season.long_external_price }},-</td>
							</tr>
							<tr class="extra-info">
								<td colspan=6>
									{% buttons %}
										<a href="{% url 'season-update' season.pk %}" class="btn btn-info">
											{% bootstrap_icon "pencil" %} Edit
										</a>
										<a href="{% url 'season-delete' season.pk %}" class="btn btn-danger">
											{% bootstrap_icon "remove" %} Delete
										</a>
									{% endbuttons %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		{% buttons %}<a href="{% url 'add-season' %}" class="btn btn-primary" style="margin:auto;display:block;">{% bootstrap_icon "plus" %} Add season</a>{% endbuttons %}

	</div>

{% endblock %}