{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
		
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}

		{% if events|length > 0 %}
			<h2 class="sub-header">Non-cruise or season events</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Start time</th>
							<th>End time</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						{% for event in events %}
							<tr>
								<td>{{ event.name }}</td>
								<td>{{ event.start_time }}</td>
								<td>{{ event.end_time }}</td>
								<td>{{ event.description }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

	</div>

{% endblock %}