{% extends 'reserver/admin_base.html' %}
{% load bootstrap3 %}
{% block admin_content %}
	<h2 class="sub-header">Email logs</h2>
	<p class="help-block">Used for debugging. Only emails sent using the notification system are logged here; email such as password reset emails are sent by a separate system.</p>
	{% if email_logs|length > 0 %}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Subject</th>
						<th>Recipients</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					{% for email_log in email_logs %}
						<tr>
							<td>{{ email_log.title }}</td>
							<td>
							{% for subject in email_log.subject %}
								<li>{{ subject }}</li>
							{% empty %}
								<li>No subject</li>
							{% endfor %}
							</td>
							<td>
							{% for recipient in email_log.recipients %}
								<li>{{ recipient }}</li>
							{% empty %}
								<li>No recipient</li>
							{% endfor %}
							</td>
							<td><a href="{{ email_log.url }}">Download</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
	<p>No loggable emails have been sent yet. The only emails shown here are the ones sent using the Notifications module, which include all event/cruise/season notification emails.</p>
	{% endif %}

	<div class="btn-group btn-group-justified">
		<a href="{% url 'send_test_email_view' %}" class="btn btn-primary">
			{% bootstrap_icon "envelope" %} Send test email
		</a>
		<a href="{% url 'email_purge_view' %}" class="btn btn-danger">
			{% bootstrap_icon "remove" %} Purge email logs
		</a>
	</div>
	
{% endblock %}