{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>

{# Display login page #}
<section class="container">
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "chevron-right" %} Login
		</button>
		<a href="/register/" class="btn btn-info">
			{% bootstrap_icon "user" %} Create user
		</a>
		<a href="/user/password/reset/" class="btn btn-info">
			{% bootstrap_icon "question-sign" %} Reset password
		</a>
		{% endbuttons %}
	</form>
</section>
{% endblock %}