{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display login page #}
<section class="container">
	<form method="post" class="form">
	  {% csrf_token %}
	  {% bootstrap_form userdata_form %}
	  {% bootstrap_form organization_form %}
	  {% bootstrap_form user_form %}
	  {% buttons %}
		<button type="submit" class="btn btn-primary">
		  {% bootstrap_icon "star" %} Submit
		</button>
	  {% endbuttons %}
	</form>
</section>
{% endblock %}