{% load bootstrap3 %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Hours for {{ user }}</h3>
			</div>
			<div class="panel-body">
				<h4>Off hour calculus</h4>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Description</th>
								<th>Hours</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>50 short days</td>
								<td>+20</td>
								<td>None for generated hours</td>
							</tr>
							<tr>
								<td>30 long days</td>
								<td>+30</td>
								<td>None for generated hours</td>
							</tr>
							<tr>
								<td>5 days off</td>
								<td>-37.5</td>
								<td>
									<a href="#" class="btn btn-primary">
										{% bootstrap_icon "pencil" %} Edit
									</a>
									<a href="#" class="btn btn-danger">
										{% bootstrap_icon "remove" %} Remove
									</a>
								</td>
							</tr>
							{% for offset in user.off_hour_offsets %}
							<tr>
								<td>{{ offset }}</td>
								<td>{{ item.price }} hours</td>
								<td>
									<a href="#" class="btn btn-primary">
										{% bootstrap_icon "pencil" %} Edit
									</a>
									<a href="#" class="btn btn-danger">
										{% bootstrap_icon "remove" %} Remove
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% buttons %}
					<a href="#" class="btn btn-success">
						{% bootstrap_icon "plus" %} Add offset
					</a>
				{% endbuttons %}
				
				<h4>Sum</h4>
				<p>+99.5 hours</p>
			</div>
			<div class="panel-footer">
				{% buttons %}
					<a href="#" class="btn btn-primary">
						{% bootstrap_icon "check" %} Select attended events/cruises
					</a>
				{% endbuttons %}
			</div>
		</div>