{% extends 'reserver/cruise_form.html' %}
{% load bootstrap3 %}
{% block title %} - Edit Cruise{% endblock %}
{% block header %}Edit Cruise{% endblock %}
{% block submitbuttons %}
	{% buttons %}
	<button type="submit" name="submit_cruise" value="submit_cruise" class="btn btn-primary">
		{% bootstrap_icon "floppy-disk" %} Save changes
	</button>
	<a href="{% url 'user-page' %}" class="btn btn-danger">
		{% bootstrap_icon "remove" %} Cancel
	</a>
	{% endbuttons %}
{% endblock %}
{# Read the documentation for more information #}