{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<section class="container">
	<form action="/cruises/add/" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% if cruiseday_form %}
		<div class="cruiseDaysContainer">
			{% bootstrap_formset cruiseday_form %}
		</div>
		{% endif %}
		{% if participant_form %}
		<div class="cruiseParticipantsContainer">
			{% bootstrap_formset participant_form %}
		</div>
		{% endif %}
		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "star" %} Submit
		</button>
		{% endbuttons %}
	</form>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.cruiseDaysContainer').formset({
            prefix: '{{ cruiseday_form.prefix }}',
            formCssClass: 'cruisedays'
        });
        $('.cruiseParticipantsContainer').formset({
            prefix: '{{ participant_form.prefix }}',
            formCssClass: 'participants'
        });
    })
</script>
{% endblock %}
{# Read the documentation for more information #}