{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - New Cruise{% endblock %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<section class="container">
	<form action="{{ request.path }}" method="post" class="form">
		{% csrf_token %}
		{% if cruiseday_form %}
		<div class="cruiseDaysContainer">
			{{ cruiseday_form.management_form }}
			{{ cruiseday_form.non_form_errors }}
			{% for form in cruiseday_form %}
				<div class="cruiseDayForm">
					<div class="panel-heading">Cruise day</div>
					<div class="panel-body">
						{% bootstrap_form form %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% bootstrap_form form %}
		{% endif %}
		{% if participant_form %}
		<div class="cruiseParticipantsContainer">
			{{ participant_form.management_form }}
			{{ participant_form.non_form_errors }}
			{% for form in participant_form %}
				<div class="participantForm">
					<div class="panel-heading">Participant</div>
					<div class="panel-body">
						{% bootstrap_form form %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "star" %} Submit
		</button>
		{% endbuttons %}
	</form>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var wrap = function(row){ 
		$(row).addClass("panel panel-default"); 
		$(row).find(".delete-row").addClass("btn btn-danger"); 
		$(".foodSelector").each(function() {
			checkAndHideFoodFields(this);
		});
	};
	
	$(".foodSelector, .add-cruise-day").click(function(e) {
		checkAndHideFoodFields(e.target);
	});
	
	function checkAndHideFoodFields(food_selector) {
		food_selector = $(food_selector);
		form = food_selector.closest(".cruiseDayForm");
		if (food_selector.prop('checked')) {
			food_selector.closest(".cruiseDayForm").find(".food").closest(".form-group").show();
		} else {
			food_selector.closest(".cruiseDayForm").find(".food").closest(".form-group").hide();
		}
	}
	
	$(function() {
		$('.cruiseDayForm').formset({
			prefix: '{{ cruiseday_form.prefix }}',
			formCssClass: 'cruisedays',
			addCssClass: 'btn btn-success add-cruise-day',
			addText: 'Add cruise day', 
			added: wrap
		});
		
		$('.participantForm').formset({
			prefix: '{{ participant_form.prefix }}',
			formCssClass: 'participants',
			addCssClass: 'btn btn-success add-participant', 
			addText: 'Add participant', 
			added: wrap
		});
		
		wrap('.cruiseDayForm'); 
		wrap('.participantForm');
	})
</script>
{% endblock %}
{# Read the documentation for more information #}