{% extends 'reserver/cruise_form.html' %}
{% load bootstrap3 %}
{% block title %} - New Cruise{% endblock %}
{% block submitbuttons %}
	{% buttons %}
	<button type="submit" name="submit_cruise" value="submit_cruise" class="btn btn-primary">
		{% bootstrap_icon "ok" %} Submit
	</button>
	<button type="submit" name="save_cruise" value="save_cruise" class="btn btn-info">
		{% bootstrap_icon "floppy-disk" %} Save as draft
	</button>
	<a href="{% url 'user-page' %}" class="btn btn-danger">
		{% bootstrap_icon "remove" %} Cancel
	</a>
	{% endbuttons %}
{% endblock %}
{# Read the documentation for more information #}