{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<section class="container">
	<form action="/cruises/test/" method="post" class="form">
		{% csrf_token %}
		<div class="mainForm">
		{% bootstrap_form form layout='horizontal' %}
		</div>
		{% if cruiseday_form %}
		{{ cruiseday_form.management_form }}
		<div class="cruiseDaysContainer">
			<div class='panel-heading'>Cruise Day</div>
			{% bootstrap_formset cruiseday_form layout='horizontal' %}
		</div>
		{% endif %}
		{% if participant_form %}
		{{ participant_form.management_form }}
		<div class="cruiseParticipantsContainer">
			<div class='panel-heading'>Participant</div>
			{% bootstrap_formset participant_form layout='horizontal' %}
		</div>
		{% endif %}
		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "star" %} Submit
		</button>
		{% endbuttons %}
	</form>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
var wrap = function(row){
	$(row).addClass("panel panel-default");
	$(row).find(".delete-row").addClass("btn btn-danger");
 };
	
    $(function() {
        $('.cruiseDaysContainer').formset({
            prefix: '{{ cruiseday_form.prefix }}',
            formCssClass: 'cruisedays',
			addCssClass: 'btn btn-success',
			addText: 'Add cruise day',
			added: wrap
        });
        $('.cruiseParticipantsContainer').formset({
            prefix: '{{ participant_form.prefix }}',
            formCssClass: 'participants',
			addCssClass: 'btn btn-success',
			addText: 'Add participant',
			added: wrap
        });
		
			wrap('.cruiseDaysContainer');
			wrap('.cruiseParticipantsContainer');
    })
</script>
{% endblock %}
{# Read the documentation for more information #}