{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}

{# Display a form #}
<section class="container">
	<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>
	<div class="invoices-container">
	{% if invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		<h3 class="sub-sub-header">Invoices for {{ cruise }}</h3>
		{% for invoice in invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>This cruise has no invoices yet. This is usually due to no invoice information being entered for the cruise.</p>
	{% endif %}
	</div>
	<div class="submitButtonsContainer">
		<div class="submitButtonsContainer-scroller">
			<div class="container">
				{% buttons %}
				{% if request.user.is_superuser %}
				<a href="{% url 'admin' %}" class="btn btn-primary">
					{% bootstrap_icon "chevron-left" %} Back
				</a>
				{% else %}
				<a href="{% url 'user-page' %}" class="btn btn-primary">
					{% bootstrap_icon "chevron-left" %} Back
				</a>
				{% endif %}
				{% if request.user.is_superuser %}
					<a href="{% url 'cruise-invoice-add' cruise.pk %}" class="btn btn-success">
						{% bootstrap_icon "plus" %} Add additional invoice
					</a>
				{% endif %}
				{% endbuttons %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function() {
		$(".submitButtonsContainer").outerHeight($(".submitButtonsContainer-scroller").outerHeight());

		function submitButtonHandler() {
			if($(window).scrollTop()+$(window).height() > ($(".submitButtonsContainer").offset().top + $(".submitButtonsContainer").outerHeight())){
			   $(".submitButtonsContainer-scroller").removeClass("scrolling");
			} else {
			   $(".submitButtonsContainer-scroller").addClass("scrolling");
			}
		}

		submitButtonHandler();

		$(window).scroll(function(){
			submitButtonHandler();
		});
	});
</script>
{% endblock %}
