{% extends 'reserver/cruise_form.html' %}
{% load bootstrap3 %}
{% block title %} - View Cruise{% endblock %}
{% block header %}View Cruise{% endblock %}
{% block submitbuttons %}
	<style>
		.delete-row.btn, .add-participant.btn, .add-cruise-day.btn, .add-document.btn, .add-equipment.btn {
			display: none !important;
		}
		
		.calendarContainer {
			display: none !important;
		}
		
		[placeholder=Date] + .help-block {
			display: none !important;
		}
		
		.cruise-days-header {
			display: none;
		}
	</style>
	{% buttons %}
	<a href="javascript:history.back()" class="btn btn-primary">
		{% bootstrap_icon "chevron-left" %} Back
	</a>
	{% endbuttons %}
{% endblock %}
{# Read the documentation for more information #}