{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>

{# Display login page #}
<section class="container">
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% if request.resolver_match.url_name == 'add-event' %}
			{% buttons %}
				<button type="submit" value="submit-event" class="btn btn-primary">
					{% bootstrap_icon "plus" %} Submit
				</button>
				<a href="{% url 'events' %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Cancel
				</a>
			{% endbuttons %}
		{% else %}
			{% block submitbuttons %}
			{% endblock %}
		{% endif %}
	</form>
</section>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
	var date_regex = /admin\/events\/add\/from\-(\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01]))\-to\-(\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01]))$/;
	if (date_regex.test(window.location.href)) {
		start_date = date_regex.exec(window.location.href)[1];
		end_date = date_regex.exec(window.location.href)[4];
		/* the start and end times should be loaded from the model as the standard start/end times
           for that date, and not be hard-coded like this. issue is tracked in trello. */
		$("#id_start_time").val(start_date + " 08:00");
		$("#id_end_time").val(end_date + " 16:00");
	}
});
</script>
{% endblock %}