{% load bootstrap3 %}
{% load reserver_tags %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Select a period</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label" for="id_search_start_date">Start date</label>
				<input type="text" name="search_start_date" value="" id="id_search_start_date" placeholder="Period start date" title="" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label" for="id_search_end_date">End date</label>
				<input type="text" name="search_end_date" value="" id="id_search_end_date" placeholder="Period end date" title="" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label" for="id_season">Season</label>
				<div name="season" id="id_season" class="form-group">
					<div class="btn-group">
						{% for season in seasons %}
						<a href="from-{{ season.get_start_date_string }}-to-{{ season.get_end_date_string }}" class="btn btn-primary">{{ season.name }}</a>
						{% empty %}
						<button type="button" class="btn btn-disabled disabled" disabled>No seasons available</button>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="id_season">Year</label>
				<div name="season" id="id_season" class="form-group">
					<div class="btn-group">
						{% for year in years %}
						<a href="from-{{ year }}-01-01-to-{{ year }}-12-31" class="btn btn-primary">{{ year }}</a>
						{% empty %}
						<button type="button" class="btn btn-disabled disabled" disabled>No operating years available</button>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="btn-group btn-group-justified">
				<a id="search_btn" href="#" class="btn btn-primary">
					<span class="glyphicon glyphicon-search"></span> Search
				</a>
			</div>
		</div>
	</div>
	{% if has_dates_selected %}
	<div class="invoices-container">
	<h3 class="sub-sub-header" id="results-header">Results for {{start_date}} to {{end_date}}</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Period summary</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Paid</th>
							<th>Unpaid</th>
							<th>Expected total (paid + unpaid)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Number of cruises</td>
							<td>{{ cruises|length }}</td>
							<td>{% subtract expected_cruises|length cruises|length %}</td>
							<td>{{ expected_cruises|length }}</td>
						</tr>
						<tr>
							<td>Number of invoices</td>
							<td>{{ invoices|length }}</td>
							<td>{% subtract expected_invoices|length invoices|length %}</td>
							<td>{{ expected_invoices|length }}</td>
						</tr>
						<tr>
							<td>Sum of invoices</td>
							<td>{{ invoice_sum }} NOK</td>
							<td>{% subtract expected_invoice_sum invoice_sum %}</td>
							<td>{{ expected_invoice_sum }} NOK</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h4>Cruise leaders (paid cruises)</h4>
			<p>
				<ul>
					{% for cruise_leader in cruise_leaders %}
					<li>{{ cruise_leader.get_full_name }}</li>
					{% empty %}
					<li>None</li>
					{% endfor %}
				</ul>
			</p>
			<h4>Cruise leaders (unpaid expected cruises)</h4>
			<p>
				<ul>
					{% for cruise_leader in expected_cruise_leaders %}
					<li>{{ cruise_leader.get_full_name }}</li>
					{% empty %}
					<li>None</li>
					{% endfor %}
				</ul>
			</p>
		</div>	
	</div>
	<h3 class="sub-sub-header">Paid invoices</h3>
	{% if invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>This period has no finished and paid invoices.</p>
	{% endif %}
	<h3 class="sub-sub-header">Unpaid and expected invoices</h3>
	{% if expected_unpaid_invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in expected_unpaid_invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>This period has no unpaid invoices.</p>
	{% endif %}
	</div>
	{% endif %}