{% load bootstrap3 %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Select a period</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label" for="id_search_start_date">Start date</label>
				<input type="text" name="search_start_date" value="" id="id_search_start_date" placeholder="Period start date" title="" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label" for="id_search_end_date">End date</label>
				<input type="text" name="search_end_date" value="" id="id_search_end_date" placeholder="Period end date" title="" class="form-control">
			</div>
		</div>
		<div class="panel-footer">
			<div class="btn-group btn-group-justified">
				<a id="search_btn" href="#" class="btn btn-primary">
					<span class="glyphicon glyphicon-search"></span> Search
				</a>
			</div>
		</div>
	</div>
	{% if has_dates_selected %}
	<div class="invoices-container">
	<h3 class="sub-sub-header" id="results-header">Results for {{start_date}} to {{end_date}}</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Period summary</h3>
		</div>
		<div class="panel-body">
			<h4>Number of invoices</h4>
			<p>{{ invoices|length }}</p>
			<h4>Number of cruises</h4>
			<p>{{ cruises|length }}</p>
			<h4>Cruise leaders</h4>
			<p>
				<ul>
					{% for cruise_leader in cruise_leaders %}
					<li>{{ cruise_leader.get_full_name }}</li>
					{% empty %}
					<li>None</li>
					{% endfor %}
				</ul>
			</p>
			<h4>Sum of invoices</h4>
			<p>{{ invoice_sum }} NOK</p>
		</div>
	</div>
	<h3 class="sub-sub-header">Invoices</h3>
	{% if invoices|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for invoice in invoices %}
			{% include 'reserver/invoice_panel.html' %}
		{% endfor %}
	{% else %}
	<p>This period has no finished and paid invoices.</p>
	{% endif %}
	</div>
	{% endif %}