{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display login page #}
<section class="container">
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% if request.resolver_match.url_name == 'add-notification' %}
			{% buttons %}
				<button type="submit" value="submit-notification" class="btn btn-primary">
					{% bootstrap_icon "plus" %} Submit
				</button>
				<a href="{% url 'notifications' %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Cancel
				</a>
			{% endbuttons %}
		{% else %}
			{% block submitbuttons %}
			{% endblock %}
		{% endif %}
	</form>
</section>
{% endblock %}