{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - Delete Organization{% endblock %}
{% block content %}

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Is NTNU</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ object.name }}</td>
					<td>{{ object.is_NTNU }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{# Display a form #}
	<section class="container" style="position:absolute;left:0px;">
		<form action="{{ request.path }}" method="post" class="form">
			{% csrf_token %}
			<p>Are you sure you wish to delete this organization? This will result in all users in this organization not having one.</p>
			{% buttons %}
			<button type="submit" class="btn btn-danger">
				{% bootstrap_icon "remove-circle" %} Delete
			</button>
			<a href="{% url 'seasons' %}" class="btn btn-primary">
				{% bootstrap_icon "chevron-left" %} Cancel
			</a>
			{% endbuttons %}
		</form>
	</section>

{% endblock %}