{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
<section class="container">
	<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>
	<p class="help-block">Forgotten your password? Enter your email, and we'll send you a link to reset it.</p>
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button type="submit" class="btn btn-primary">
			{% bootstrap_icon "chevron-right" %} Reset my password
		</button>
		{% endbuttons %}
	</form>
</section>
{% endblock %}