{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - User page for {{ request.user }}{% endblock %}
{% block content %}
	<section class="container-fluid">
		{% bootstrap_messages %}
		<div class="panel panel-info user-profile">
		  <div class="panel-heading">
			<h3 class="panel-title">Profile for {{ request.user }}</h3>
		  </div>
		  <div class="panel-body">
			<div class="row">
				<form action="{{ request.path }}" method="post" class="form">
					<div class="col-sm-10">
						{% csrf_token %}
						{% bootstrap_form form %}
						<div class="form-group">
							<label class="control-label" for="organization">Organization</label>
							<input disabled type="text" name="organization" class="form-control" placeholder="Your organization" title="" id="user_organization" value="{{request.user.userdata.organization}}">
							<p class="help-block">Please contact an adminstrator if you need to change your organization.</p>
						</div>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		  </div>
		</div>
			<div id="cruiseTop"></div>
			<h2 class="sub-header">Your Cruises</h2>
			{% if my_submitted_cruises|length > 0 %}
			{% for cruise in my_submitted_cruises %}
			<div class="panel {% if cruise.is_missing_information %}panel-warning{% else %}panel-default{% endif %} user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">{{ cruise }}</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
							{% if cruise.is_approved %}
							{% if cruise.information_approved %}
							<li class="list-group-item text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approved</li>
							{% else %}
							<li class="list-group-item text-warning"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Dates approved, information unapproved</li>
							{% endif %}
							{% else %}
							<li class="list-group-item text-warning"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Pending approval</li>
							{% endif %}
							<li class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ cruise.get_receipt.sum }} NOK</li>
							{% for cruise_day in cruise.get_cruise_days %}
							<li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cruise day {{forloop.counter}}: {{cruise_day.event.start_time|date:"Y F jS"}}</li>
							{% empty %}
							<li class="list-group-item">Cruise has no cruise days</li>
							{% endfor %}
							<button type="button" disabled class="disabled list-group-item list-group-item-info">Export as PDF</button>
							{% if cruise.cruise_start and cruise.cruise_end %}
							{{ cruise.get_cal_button|safe }}
							{% endif %}
						</ul>
					</div>
					<div class="col-sm-7">
						{% if cruise.is_missing_information %}
						<h4>Missing information</h4>
						<p class="help-block">These items should be corrected before the cruise can be submitted for approval.</p>
						<ul>
							{% for missing_information in cruise.get_missing_information_list %}
							<li>{{ missing_information }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% if cruise.description %}
						<h4>Cruise description</h4>
						<p>{{ cruise.description }}</p>
						{% endif %}
						<h4>Cruise summary</h4>
						<p>{{ cruise.get_cruise_description_string }}</p>
					</div>
					<div class="col-sm-2">
						<a href="../cruises/{{cruise.id}}/view/" class="btn btn-info">View</a>
						<a href="../cruises/{{cruise.id}}/edit/" class="btn btn-primary">Edit</a>
						<a href="../cruises/{{cruise.id}}/unsubmit/" class="btn btn-warning">Cancel</a>
					</div>
				</div>
			  </div>
			</div>
			{% endfor %}
			{% else %}
			<p>You have no submitted cruises.</p>
			{% endif %}
			
	  <h2 class="sub-header">Saved Cruise Drafts</h2>
		  	{% if my_unsubmitted_cruises|length > 0 %}
			{% for cruise in my_unsubmitted_cruises %}
			<div class="panel {% if cruise.is_missing_information %}panel-warning{% else %}panel-default{% endif %} user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">{{ cruise }}</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
							{% if cruise.is_submittable or request.user.is_superuser %}
							<li class="list-group-item text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submittable</li>
							{% else %}
							<li class="list-group-item text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Unsubmittable</li>
							{% endif %}
							<li class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ cruise.get_receipt.sum }} NOK</li>
							{% for cruise_day in cruise.get_cruise_days %}
							<li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cruise day {{forloop.counter}}: {{cruise_day.event.start_time|date:"Y F jS"}}</li>
							{% empty %}
							<li class="list-group-item">Cruise has no cruise days</li>
							{% endfor %}
							<button type="button" disabled class="disabled list-group-item list-group-item-info">Export as PDF</button>
							{% if cruise.cruise_start and cruise.cruise_end %}
							{{ cruise.get_cal_button|safe }}
							{% endif %}
						</ul>
					</div>
					<div class="col-sm-7">
						{% if cruise.is_missing_information %}
						<h4>Missing information</h4>
						<p class="help-block">These items should be corrected before the cruise can be submitted for approval.</p>
						<ul>
							{% for missing_information in cruise.get_missing_information_list %}
							<li>{{ missing_information }}</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% if cruise.description %}
						<h4>Cruise description</h4>
						<p>{{ cruise.description }}</p>
						{% endif %}
						<h4>Cruise summary</h4>
						<p>{{ cruise.get_cruise_description_string }}</p>
					</div>
					<div class="col-sm-2">
						<a href="../cruises/{{cruise.id}}/view/" class="btn btn-info">View</a>
						<a href="../cruises/{{cruise.id}}/edit/" class="btn btn-primary">Edit</a>
						{% if cruise.is_submittable or request.user.is_superuser %}
						<a href="../cruises/{{cruise.id}}/submit/" class="btn btn-info">Submit</a>
						{% else %}
						<a href="../cruises/{{cruise.id}}/submit/" class="btn btn-info disabled" disabled>Submit</a>
						{% endif %}
						<a href="../cruises/{{cruise.id}}/delete/" class="btn btn-danger">Delete</a>
					</div>
				</div>
			  </div>
			</div>
			{% endfor %}
			{% else %}
			<p>You have no cruise drafts.</p>
			{% endif %}

</section>
{% endblock %}
{% block scripts %}
<script></script>
{% endblock %}
{# Read the documentation for more information #}