{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - Edit User{% endblock %}
{% block content %}
<section class="container">
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "floppy-disk" %} Save changes
			</button>
			<a href="{% url 'events' %}" class="btn btn-danger">
				{% bootstrap_icon "remove" %} Cancel
			</a>
		{% endbuttons %}
	</form>
</section>
{% endblock %}