{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - User page for {{ request.user }}{% endblock %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
	<section class="container-fluid">
		<div class="panel panel-info user-profile">
		  <div class="panel-heading">
			<h3 class="panel-title">Profile for {{ request.user }}</h3>
		  </div>
		  <div class="panel-body">
			<div class="row">
				<form action="{{ request.path }}" method="post" class="form">
					<div class="col-sm-10">
						{% csrf_token %}
						{% bootstrap_form form %}
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-info">Options</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		  </div>
		</div>
			<h2 id="cruiseTop" class="sub-header">Your Cruises</h2>
			{% if my_submitted_cruises|length > 0 %}
			{% for cruise in my_submitted_cruises %}
			<div class="panel panel-warning user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">{{  cruise.item1 }}</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
							{% for cruise_day in cruise.item1.get_cruise_days %}
							<li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cruise day {{forloop.counter}}: {{cruise_day.event.start_time}}</li>
							{% empty %}
							<p>Cruise has no cruise days</p>
							{% endfor %}
							<button type="button" class="list-group-item list-group-item-info calendar-export-button">Add to your calendar</button>
							<button type="button" class="list-group-item list-group-item-info calendar-export-button">Export as PDF</button>
						</ul>
					</div>
					<div class="col-sm-7">
						<h4>Missing information</h4>
						<ul>
							<li>Gear requirements need to be submitted within 5 days</li>
						</ul>
						<h4>Cruise summary</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-sm-2">
						<a href="../cruises/{{cruise.item1.id}}/" class="btn btn-primary">Edit</a>
						<button type="button" class="btn btn-danger">Cancel</button>
						<button type="button" class="btn btn-info">Show Details</button>
					</div>
				</div>
			  </div>
			</div>
			{% endfor %}
			{% else %}
			<p>You have no submitted cruises.</p>
			{% endif %}
			
		    <!--<div class="panel panel-default user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">Cruise Name</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start time: 23.02.2017 0800 GMT+1</li>
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End time: 24.02.2017 1600 GMT+1</li>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Add to your calendar</button>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Export as PDF</button>
						</ul>
					</div>
					<div class="col-sm-7">
						<h4>Cruise summary</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-sm-2">
						<a href="editForm.html" class="btn btn-primary">Edit</a>
						<button type="button" class="btn btn-danger">Cancel</button>
						<button type="button" class="btn btn-info">Show Details</button>
					</div>
				</div>
				<div class="row">
					<div class="well">
						<p>[contains a full cruise report based on the contents of the form, shows when user clicks "Show Details"]</p>
					</div>
				</div>
			  </div>
			</div>
			
		    <div class="panel panel-default user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">Cruise Name</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start time: 23.02.2017 0800 GMT+1</li>
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End time: 24.02.2017 1600 GMT+1</li>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Add to your calendar</button>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Export as PDF</button>
						</ul>
					</div>
					<div class="col-sm-7">
						<h4>Cruise summary</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-sm-2">
						<a href="editForm.html" class="btn btn-primary">Edit</a>
						<button type="button" class="btn btn-danger">Cancel</button>
						<button type="button" class="btn btn-info">Show Details</button>
					</div>
				</div>
			  </div>
			</div>
			
		    <div class="panel panel-default user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">Cruise Name</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start time: 23.02.2017 0800 GMT+1</li>
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End time: 24.02.2017 1600 GMT+1</li>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Add to your calendar</button>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Export as PDF</button>
						</ul>
					</div>
					<div class="col-sm-7">
						<h4>Cruise summary</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-sm-2">
						<a href="editForm.html" class="btn btn-primary">Edit</a>
						<button type="button" class="btn btn-danger">Cancel</button>
						<button type="button" class="btn btn-info">Show Details</button>
					</div>
				</div>
			  </div>
			</div>-->
			
	  <h2 id="cruiseTop" class="sub-header">Saved Cruise Drafts</h2>
		  
		    <!--<div class="panel panel-warning user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">Cruise Name</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start time: 23.02.2017 0800 GMT+1</li>
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End time: 24.02.2017 1600 GMT+1</li>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Add to your calendar</button>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Export as PDF</button>
						</ul>
					</div>
					<div class="col-sm-7">
						<h4>Missing information</h4>
						<ul>
							<li>Cruise leader missing, cruise cannot be submitted yet</li>
						</ul>
						<h4>Cruise summary</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-sm-2">
						<a href="editForm.html" class="btn btn-primary">Edit</a>
						<button type="button" class="btn btn-danger">Delete</button>
						<button type="button" class="btn btn-info">Show Details</button>
					</div>
				</div>
			  </div>
			</div>
			
		    <div class="panel panel-default user-cruise">
			  <div class="panel-heading">
				<h3 class="panel-title">Cruise Name</h3>
			  </div>
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<ul class="list-group">
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start time: 23.02.2017 0800 GMT+1</li>
						  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End time: 24.02.2017 1600 GMT+1</li>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Add to your calendar</button>
						  <button type="button" class="list-group-item list-group-item-info calendar-export-button">Export as PDF</button>
						</ul>
					</div>
					<div class="col-sm-7">
						<h4>Cruise summary</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-sm-2">
						<a href="editForm.html" class="btn btn-primary">Edit</a>
						<button type="button"  class="btn btn-warning">Submit</button>
						<button type="button" class="btn btn-danger">Delete</button>
						<button type="button" class="btn btn-info">Show Details</button>
					</div>
				</div>
			  </div>
			</div>-->

</section>
{% endblock %}
{% block scripts %}
<script></script>
{% endblock %}
{# Read the documentation for more information #}