{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block content %}
<section class="container">
	<div class="msg-container">{{announcements}}{% bootstrap_messages %}</div>
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button type="submit" value="submit-event" class="btn btn-primary">
				{% bootstrap_icon "check" %} Submit
			</button>
			<a href="{% url 'admin-cruises' %}" class="btn btn-danger">
				{% bootstrap_icon "remove" %} Cancel
			</a>
		{% endbuttons %}
	</form>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}