{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - Cancel Cruise{% endblock %}
{% block content %}

{# Display a form #}
<section class="container">
	<form action="{{ request.path }}" method="post" class="form">
		{% csrf_token %}
		{% if cruise.editing_deadline_passed %}
		<p>The deadline for cancellation without billing has passed. You may cancel the cruise, but you will still be billed.</p>
		{% endif %}
		<p>Are you sure you wish to cancel this cruise?</p>
		{% buttons %}
		<button type="submit" class="btn btn-warning">
			{% bootstrap_icon "remove-circle" %} Confirm cancellation
		</button>
		<a href="{{ redirect }}" class="btn btn-primary">
			{% bootstrap_icon "chevron-left" %} Back
		</a>
		{% endbuttons %}
	</form>
</section>
{% endblock %}
{% block scripts %}
{% endblock %}
{# Read the documentation for more information #}
