<% 	event.date_start = new Date(parseInt(event.start));
	event.date_end = new Date(parseInt(event.end)); %>


<div class="row">
	<div class="col-sm-3">
		<ul class="list-group">
		  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start time: <%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %>, at <%= event.date_start.getHours() %>:<%= event.date_start.getMinutes() %></li>
		  <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End time: <%= event.date_end.getDate() %> <%= calendar.locale["m" + event.date_end.getMonth()] %> <%= event.date_end.getFullYear() %> at <%= event.date_end.getHours() %>:<%= event.date_end.getMinutes() %></li>
		  <% if (event.calButton) { %>
			<%= event.calButton %>
		  <% } %>
		  <% if (event.cruise_pk) { %>
		  <a class="list-group-item list-group-item-info" href="/cruises/<%= event.cruise_pk %>/view/" target="_BLANK">View cruise</a>
		  <a class="list-group-item list-group-item-info" href="/cruises/<%= event.cruise_pk %>/pdf/" target="_BLANK">Export cruise PDF</a>
		  <% } %>
		</ul>
	</div>
	<div class="col-sm-9">
		<p><%= event.description %></p>
	</div>
</div>