<%
	var seasonClass = "not-in-season";
	_.each(events, function(event) {
		if (event['day_is_in_season']) {
			seasonClass = "in-season";
		}
	});
	events = events.filter(function( event ) {
		return !event['day_is_in_season'];
	});
%>
<div class="cal-month-day <%= seasonClass %> <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %> <%= event['cssClass'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
			<ul>
			<% _.each(events, function(event) { %>
				<li><a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="<%= event['cssClass'] %>" data-toggle="tooltip"
					title="<%= event.title %>"><%= event.title %></a></li>
			<% }); %>
			</ul>
		</div>
	<% } %>
</div>