<% var busy_days = [];
for (var i = 0; i < events.length; i++) {
	cal_event = events[i];
	var time = cal_event.start;
	var date = new Date(time);
	var date_string = date.toISOString().slice(0,10);

	if (cal_event.cssClass != "season") {
		if (busy_days.indexOf(date_string) == -1 && time > start && time < end) {
			busy_days.push(date_string);
		}

		/* add 24 hours, check if day is still busy */
		for (var time = cal_event.start; time < cal_event.end; time = time+1000*60*60*24) {
			var date = new Date(time);
			var date_string = date.toISOString().slice(0,10);
			if (busy_days.indexOf(date_string) == -1 && time > start && time < end) {
				busy_days.push(date_string);
			}
		}
	} else if (cal_event.cssClass == "season") {
		if (cal_event.end < end) {
			/* add busy days until the end of the month */
			for (var time = cal_event.end; time < end; time = time+1000*60*60*24) {
				var date = new Date(time);
				var date_string = date.toISOString().slice(0,10);
				if (busy_days.indexOf(date_string) == -1 && time > start && time < end) {
					busy_days.push(date_string);
				}
			}
		} else if (cal_event.start > start) {
			/* add busy days to the start of the month */
			for (var time = start; time < cal_event.start; time = time+1000*60*60*24) {
				var date = new Date(time);
				var date_string = date.toISOString().slice(0,10);
				if (busy_days.indexOf(date_string) == -1 && time > start && time < end) {
					busy_days.push(date_string);
				}
			}
		}
	}
}
%>
<div class="cal-data" data-availability="<%= busy_days.length %>" data-in-season="<%= (events.filter(function(e){return e.day_is_in_season;}).length > 0) %>"></div>
<span class="pull-left" data-cal-date="<%= data_day %>" data-cal-view="month"><%= month_name %></span>
<small class="cal-events-num badge badge-important pull-left"><%= events.length %></small>
<small class="cal-events-icon pull-left"></small>
<% if (events.length > 0) { %>
	<div class="hide events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
		<% _.each(events, function(event) { %>
			<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
				class="pull-left event <%= event['class'] %> event<%= event.id %>" data-toggle="tooltip"
				title="<%= event.title %>"></a>
		<% }); %>
	</div>
<% } %>
