<script>
var form_html = '<div class="form-group"><label class="control-label" for="action_reason">Message to admin</label><textarea name="action_reason" rows="10" id="action_reason" maxlength="2000" class="form-control" placeholder="Message" cols="40" title="Please state a reason or message for rejecting this invoice. This message will be shown in the email notifying the administration team of this action."></textarea><div class="help-block">Optional: Please state a reason or message for rejecting this invoice. This message will be shown in the email notifying the administration team of this action.</div></div>';
var cancel_action_button_html = '<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>';

$(".reject-invoice-btn").on("click", function(event){
	event.preventDefault();
	showDialog("Rejecting "+$(this).closest(".panel").find(".panel-heading").text(), form_html, $(this).get(0).outerHTML+cancel_action_button_html);
});

$("#txtModal").on('shown.bs.modal', function () {
	$("#txtModal .reject-invoice-btn").on("click", function(event){
		event.preventDefault();
		if (!$(this).hasClass("disabled")) {
			$(this).attr("disabled", "disabled");
			$(this).prop("disabled", true);
			$(this).addClass("disabled");
			$(this).find(".glyphicon").remove();
			$(this).prepend('<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i><span class="sr-only">Loading...</span>');
			var url = $(this).attr("href");
			var action_data = {
				message: $("#txtModal textarea").val(),
			};
			
			$.ajax({
				url: url,
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(action_data),
				dataType: 'json',
				success: function(result) {
					console.log("Submitted");
					location.reload();
				}
			});
		}
	});
});
</script>