{% extends 'reserver/base.html' %}
{% load bootstrap3 %}
{% block title %} - Create Standalone invoice {% endblock %}
{% block content %}

{# Display login page #}
<section class="container">
	<form method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% if request.resolver_match.url_name == 'add-standalone-invoice' %}
			{% buttons %}
				<button type="submit" value="submit-event" class="btn btn-primary">
					{% bootstrap_icon "plus" %} Save
				</button>
				<a href="{% url 'admin-invoices' %}" class="btn btn-danger">
					{% bootstrap_icon "remove" %} Cancel
				</a>
			{% endbuttons %}
		{% else %}
			{% block submitbuttons %}
			{% endblock %}
		{% endif %}
	</form>
</section>
{% endblock %}
