{% extends 'reserver/pdfs/base.html' %}
{% load static %}
{% block content %}
<h1>Cruise summary, {{ cruise }}</h1>
<h2>Details, {{ cruise }}</h2>
<h3>Contact info</h3>
<table>
	<thead>
		<tr><td>Name</td><td>Email</td><td>Organization</td></tr>
	</thead>
	<tbody>
		<tr><td>{{ cruise.leader }} (leader)</td><td>{{ cruise.leader.email }}</td><td>{{ cruise.leader.userdata.organization }}</td></tr>
		{% for owner in cruise.get_owners_minus_leader %}
		<tr><td>{{ owner }}</td><td>{{ owner.email }}</td><td>{{ owner.userdata.organization }}</td></tr>
		{% endfor %}
	</tbody>
</table>
<p>Organization: {{ cruise.organization }} {{ cruise.organization.is_ntnu|yesno:"(NTNU)," }}</p>
<p>Description: {{ cruise.description }}</p>
<p>Terms accepted: {{ cruise.terms_accepted }}</p>
<p>Student participation ok: {{ cruise.student_participation_ok }}</p>
<p>Number of participants: {{ cruise.number_of_participants }}</p>
<p>Management of change: {{ cruise.management_of_change }}</p>
<p>Safety clothing and equipment: {{ cruise.safety_clothing_and_equipment }}</p>
<p>Safety analysis and requirements: {{ cruise.safety_analysis_requirements }}</p>

<h2>Cruise Days</h2>
<table>
	<thead>
		<tr><td width="20%">Date</td><td width="14%">Long day</td><td width="31%">Destination</td><td width="35%">Description</td></tr>
	</thead>
	<tbody>
		{% for cruise_day in cruise.get_cruise_days %}
		<tr><td>{{ cruise_day.get_date }}</td><td>{{ cruise_day.is_long_day|yesno:"Yes,No" }}</td><td>{{ cruise_day.destination }}</td><td>{{ cruise_day.description }}</td></tr>
		{% endfor %}
	</tbody>
</table>

<h2>Equipment</h2>
{% for equipment in cruise.get_cruise_equipment %}
{{ equipment }}
{% endfor %}

<h2>Documents</h2>
{% for document in cruise.get_cruise_documents %}
{{ document }}
{% endfor %}

{% endblock %}