{% extends "reserver/admin_base.html" %}
{% load bootstrap3 %}
{% load reserver_tags %}
{% block admin_content %}
	<h2 class="sub-header">Work hours</h2>
	<h3><span class="label label-warning">This view is in development.</span></h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Select a period</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label" for="id_season">Year</label>
				<div name="season" id="id_season" class="form-group">
					<div class="btn-group">
						{% for year in years %}
						<a href="for-{{ year }}" class="btn btn-primary">{{ year }}</a>
						{% empty %}
						<button type="button" class="btn btn-disabled disabled" disabled>No operating years available</button>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="invoices-container">
	<h3 class="sub-sub-header" id="results-header">Results for {{ selected_year }}</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Period summary</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Paid</th>
							<th>Unpaid</th>
							<th>Expected total (paid + unpaid)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Number of cruises</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<td>Short days</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<td>Long days</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	<h3 class="sub-sub-header">Crew</h3>
	{% if crew_users|length > 0 %}
		<div class="jump-target" id="unapproved-cruises-needing-attention"></div>
		{% for user in crew_users %}
			{% include 'reserver/work_hours/crew_work_hour_panel.html' %}
		{% endfor %}
	{% else %}
	<p>No crew members worked during this period.</p>
	{% endif %}
	</div>
{% endblock %}